doctype
html
	head
		title TimelineFlash sample
		meta(charset="UTF-8")
		//link(rel="stylesheet" type="text/css" href=".css" media="all")
		//script(type="text/javascript" src='../node_modules/gsap/TweenMax.js')
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")
		script(src="./script/_TimelineFlash.js")
		script.
			$(function () {
				var timelineFlash = new TimelineFlash();


				var motion1 = $("#motion1");
				var tl;
				tl = new TimelineMax({
					paused: true, onUpdate: function () {
						var v = 1;
						var n = motion1;
					}
				})
						.set(motion1, {x: "100%"})
						.to(motion1, 5, {x: "50%"})
						.to(motion1, 5, {x: "100%"})
						.from(motion1, 5, {x: "0%"})
						.fromTo(motion1, 5, {x: "100%"}, {x: "0%"})
				;
				timelineFlash.add(tl, {
					label: "test1"
					, targets: {
						"motion1": motion1
					}
				});

				var motion2 = $("#motion2");
				var tl2;
				tl2 = new TimelineMax({
					paused: true, onUpdate: function () {
					}
				})
						.to(motion2, 5, {x: "100%"})
						.to(motion2, 5, {x: "50%"}, "+=1")
						.to(motion2, 5, {x: "100%"})
						.to(motion2, 5, {x: "0%"})
				;

				timelineFlash.add(tl2);

				motion1.on("click", function () {
					tl.play(0);
				})
			});


		style.
			#content {
				position: relative;
			}

			.box {
				width: 150px;
				height: 150px;
				background-color: red;
			}

			#motion1 {

			}
	body
		#content
			#motion1.box
			#motion2.box