doctype
html
	head
		title TimelineFlash sample
		meta(charset="UTF-8")
		//link(rel="stylesheet" type="text/css" href=".css" media="all")
		//script(type="text/javascript" src='../node_modules/gsap/TweenMax.js')
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")
		script(src="./script/_TimelineFlash.js")
		script.
			$(function () {
				var timelineFlash = new TimelineFlash();

				var motion1 = $("#motion1");
				var tl;
				tl = new TimelineMax({paused: true})
						.to(motion1, 5, {x: "100%"});
				timelineFlash.add(tl);

				motion1.on("click", function () {
					tl.play(0);
				})
			});


		style.
			#content {
				position: relative;
			}

			.box {
				width: 150px;
				height: 150px;
				background-color: red;
			}

			#motion1 {

			}
	body
		#content
			#motion1.box