html
	head
		title komado
		| <style> * {margin: 0;padding: 0;}</style>
	body(onload="new timelineFlash.Panel();")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.4.3/pixi.min.js")
		script(src="./script/TimelineFlash.js")
